<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springtest.dao.CityMapper" >
  <resultMap id="BaseResultMap" type="com.example.springtest.domain.City" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="prov_id" property="provId" jdbcType="INTEGER" />
  </resultMap>
</mapper>