<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springtest.dao.RouteMapper">
  <resultMap id="BaseResultMap" type="com.example.springtest.domain.Route">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="route_id" jdbcType="INTEGER" property="routeId" />
    <result column="route_content" jdbcType="VARCHAR" property="routeContent" />
    <result column="journey_id" jdbcType="INTEGER" property="journeyId" />
    <result column="start_point" jdbcType="VARCHAR" property="startPoint" />
    <result column="end_point" jdbcType="VARCHAR" property="endPoint" />
    <result column="isOrigin" jdbcType="INTEGER" property="isorigin" />
  </resultMap>

</mapper>